.ab-wrapper {
  padding: 10px 80px 100px 200px;
  display: flex;
  flex-direction: column;
}

.ab-heading {
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 700;
  color: #111;
  text-align: center;
  letter-spacing: 0.08em;
  margin-bottom: 40px;
  margin-right: 10.5%;
  margin-top: -6px;
}

.ab-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ab-post {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  margin-left: 27px;
}

.ab-post-img {
  flex-shrink: 0;
  width: 235px;
  height: 188px;
  padding-top: 12px;
  
  overflow: hidden;
}

.ab-post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.ab-post-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 40px;
}

.ab-post-title {
  font-family: 'Montserrat';
  font-size: 19px;
  font-weight: 400;
  color: #111;
  line-height: 1.1;
  max-width: 81%;
  margin-bottom: 8px;
}

.ab-tag {
  background: #4687ef;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 500;
  padding: 1px 18px;
  border-radius: 20px;
  letter-spacing: 0.04em;
  width: fit-content;
  margin-bottom: 8px;
}

.ab-post-meta {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ab-read-more {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #2f2e2e;
  text-decoration: none;
  letter-spacing: 0.06em;
  transition: opacity 0.2s;
}

.ab-read-more:hover {
  opacity: 0.6;
}

.ab-divider {
  color: #ccc;
  font-size: 13px;
}

.ab-date {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #363535;
}

@media (max-width: 900px) {
  .ab-wrapper {
    padding: 40px 24px 80px;
  }

  .ab-post {
    flex-direction: column;
    gap: 16px;
  }

  .ab-post-img {
    width: 100%;
    height: 200px;
  }
}
