.pp-main {
  display: grid;
  grid-template-columns: 160px 1fr;
  margin-top: 10px;
}

.pp-content {
  padding: 60px 60px 120px 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pp-heading {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #111;
  line-height: 1.4;
}

.pp-meta {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #111;
  line-height: 1.3;
  text-align: right;
  padding-right:  21%;
}

.pp-body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #111;
  line-height: 1.3;
  text-align: justify;
  max-width: 79.1%;
  letter-spacing: 2px;
}

.pp-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
   max-width: 79.1%;
}

.pp-list p {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #111;
  line-height: 1.2;
  text-align: justify;
   letter-spacing: 2px;
}

.pp-subheading {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #111;
  margin-top: 12px;
}

.pp-contact {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pp-contact p {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #111;
  line-height: 1.8;
}

@media (max-width: 900px) {
  .pp-main {
    grid-template-columns: 1fr;
  }

  .pp-content {
    padding: 40px 24px 80px;
  }
}
