.pp-main {
  display: grid;
  grid-template-columns: 160px 1fr;
  margin-top: -60px;
}

.pp-content {
  padding: 38px 80px 120px 128px;
  display: flex;
  flex-direction: column;
  gap: 0;
  max-width: 85%;
}

.pp-heading {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 700;
  color: #111;
  line-height: 1.4;
  margin-bottom: 35px;
}

.pp-intro {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #111;
  line-height: 1.8;
  margin-bottom: 15.5px;
  text-align: justify;
}

.pp-section {
  margin-bottom: 22px;
}

.pp-section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #111;
  margin-bottom: 22px;
}

.pp-text {
  font-family: 'Montserrat';
  font-size: 16.4px;
  color: #111;
  line-height: 1.1;
  margin-bottom: -2px;
  text-align: justify;
  margin-left: 16px;
}

.pp-indent {
  margin-top: 8px;
  padding-left: 10px;
}

.pp-no-indent {
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.pp-ol {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: -1px;
}

.pp-ol li {
  font-family: 'Montserrat';
  font-size: 16.2px;
  color: #111;
  line-height: 1.1;
  text-align: justify;
}

.pp-ul {
  list-style: disc;
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  
  margin-bottom: 1px;
}

.pp-ul li {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #111;
  line-height: 1.8;
  text-align: justify;
}

.pp-ul-inner {
  margin-top: 8px;
  margin-bottom: 0;
}

@media (max-width: 900px) {
  .pp-main {
    grid-template-columns: 1fr;
  }

  .pp-content {
    padding: 40px 24px 80px;
  }
}
